@import url("https://fonts.googleapis.com/css?family=Coiny|Open+Sans&display=swap");

:root {
 --bg-sub: #ffffff;
 --highlight: #6a00f5;
 --color-highlights: #555;
 --color-highlights-bright: #f4acb7;
 --text-color-a: #24313f;
 --text-correct: limegreen;
 --text-shadow-main: 1px 2px 1px #000;
 --box-shadow: 0px 10px 13px -7px #000;
 --dis-highligh: #aaa;
 --dis-bg: #666;
}
body {
 height: 100%;
 background-color: rgb(255, 255, 255);
}
.app {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}

/* NAVIGATION BAR */
.navbar {
 display: flex;
 flex-wrap: wrap;
 padding: 10px;
}
.logo {
 justify-self: flex-start;
 padding: 0 20px 0 15px;
 background: var(--highlight);
 font: 44px "Open-sans", sans-serif;
 font-weight: 900;
 letter-spacing: -4px;
 color: var(--bg-sub);
}
.linkContainer {
 padding: 0 20px;
 flex-grow: 1;
 display: flex;
 align-items: center;
 justify-content: center;
}

.link {
 padding: 9px;
 color: var(--text-color-a);
 white-space: nowrap;
 margin-right: 20px;
 font: 18px "Open Sans", serif;
}

.link:hover {
 color: var(--color-highlights);
}

.linkSelected {
 border: 1px solid var(--text-color-a);
 border-radius: 4%;
}

/* GAME CONTAINER */

.gameWrapper,
.textContainer {
 padding: 20px;
 width: 90%;
 height: 70%;
 background: #eee;

 box-shadow: var(--box-shadow);
}

.gameWrapper {
 display: flex;
 flex-direction: column;
}

/* STATUS CONTAINER  */
.statusContainer {
 display: flex;
 flex-wrap: nowrap;
 width: 90%;
 justify-content: center;
 align-items: center;
}

.statusBoard {
 margin: 20px;
}

.statusBoard > span {
 color: var(--text-color-a);
 font-family:  "Open Sans", serif;
 font-size: calc(1vw + .5rem);
}
.scoreBoard {
 justify-self: flex-end;
 flex: 1 0 0;
 text-align: right;
}

.scoreBoard > span {
 padding: calc(1vw + .1rem);
 font-family:  "Open Sans", serif;
 font-size: calc(1vw + .4rem);
 border: 1px solid var(--text-color-a);
 border-radius: 4%;
}

/* BTNS */

.userBtns {
 display: block;
 margin: calc(1vw + .1rem) 0;
}

.userBtns > button {
 background-color: var(--highlight);
 color: var(--bg-sub);
 border: none;
 padding: 15px 50px;
 margin: 0 20px;
 border-radius: 40px;
 font-size: calc(1vw + .5rem);
 font-weight: 600;
 cursor: pointer;
}
.userBtns > button:hover {
 background-color: var(--color-highlights);
}

.userBtns > button > button:disabled {
 background-color: var(--color-highlights-bright);
}
/*  MUSICAL BLOCKS */

.musicBlockBoard {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
}

.musicBlock,
.musicBlockActive {
 margin: calc(1vw + .1rem) calc(.5vw + .02rem);
 background: var(--bg-sub);
 border-radius: 10px;
 width: 10%;
 height: calc(1vh + 3rem);
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.musicBlock {
 color: var(--text-color-a);
 font-size: 2px;
 border: 15px solid var(--bg-sub);
 box-shadow: var(--box-shadow);
}

.musicBlock:hover {
 border: 15px solid var(--color-highlights);
 background-color: var(--color-highlights);
 color: var(--bg-sub);
 cursor: pointer;
}

.musicBlockActive {
 border: 15px solid var(--color-highlights-bright);
 box-shadow: var(--box-shadow);
}
.musicBlock > span,
.musicBlockActive > span {
 font-family: serif;
 font-size: calc(1vw + 1rem);
}

.mysteryBlock {
 color: var(--text-correct);
}

/* ANSWER BOARD */
.answerBoard {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin: 10px 0 0 0 ;
}

.answerBoard > button {
 border: none;
 padding: 10px 20px;
 margin: 10px 4px;
 background-color: var(--highlight);
 color: var(--bg-sub);
 border-radius: 4%;
 font-family: "Open Sans", serif;
 font-weight:bold;
 font-size: calc(1vw + .8rem) ;
 cursor: pointer;
}

.answerBoard > button:disabled {
 background-color: var(--dis-bg);
 color: var(--dis-highligh);
 pointer-events: none;
}
.answerBoard > button:hover {
 background-color: var(--color-highlights);
}
/* TEXT CONTAINER */

.textContainer > h3 {
 text-align: left;
 font: bold 20px "Open Sans", serif;

}

.textContainer > p {
 text-align: left;
 font: 14px "Open Sans", serif;
}

@media (max-width: 600px) {
 .app {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .navbar {
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
 }
 .logo {
  width: 100%;
  padding: 0;
  margin: 0;
 }
 .linkContainer {
  padding: 10px 0;
 }
 .gameWrapper {
  width: 100%;
  margin: 0;
  padding: 0;
 }

 .userBtns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 margin: 0 0 10px 0;

  }

  .userBtns > button {
  font-size: calc(1vw + .5rem);
  padding: .6rem 1.2rem;
  }

 .musicBlock,
 .musicBlockActive {
  background: var(--bg-sub);
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

}
